<app-site-toolbar/>

<div class="page-header">
  <div>
    <h1>Country Best Stats</h1>
    <p>(based on the best gpd/population ratio)</p>
  </div>
</div>

<table [dataSource]="countryBestStats" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="countryName">
    <th *matHeaderCellDef mat-header-cell> Country Name</th>
    <td *matCellDef="let element" mat-cell> {{element.countryName}} </td>
  </ng-container>

  <ng-container matColumnDef="countryCode3">
    <th *matHeaderCellDef mat-header-cell> Country Code</th>
    <td *matCellDef="let element" mat-cell> {{element.countryCode3}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th *matHeaderCellDef mat-header-cell> Year</th>
    <td *matCellDef="let element" mat-cell> {{element.year ? element.year : '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="population">
    <th *matHeaderCellDef mat-header-cell> Population</th>
    <td *matCellDef="let element" mat-cell> {{element.population ? element.population : '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="gdp">
    <th *matHeaderCellDef mat-header-cell> Gdp</th>
    <td *matCellDef="let element" mat-cell> {{element.gdp ? element.gdp : '-'}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
