<app-site-toolbar/>
<div class="languages">
  <h2>{{countryLanguages.countryName}}</h2>
  <p><strong>Official Languages:</strong></p>
  <ol *ngIf="countryLanguages?.officialLanguages else noOfficialLanguage" class="ol">
    <li *ngFor="let officialLanguage of countryLanguages.officialLanguages">
      <p *ngIf="officialLanguage; else noOfficialLanguage">{{officialLanguage}}</p>
    </li>
  </ol>
  <p><strong>More Spoken Languages:</strong></p>
  <ol *ngIf="countryLanguages?.languages else noMoreLanguages" class="ol">
    <li *ngFor="let language of countryLanguages.languages">
      <p *ngIf="language; else noMoreLanguages">{{language}}</p>
    </li>
  </ol>
</div>

<ng-template #noOfficialLanguage>
  <p style="margin-left: 30px">No official language.</p>
</ng-template>

<ng-template #noMoreLanguages>
  <p style="margin-left: 30px">No more languages spoken.</p>
</ng-template>
