<app-site-toolbar/>

<mat-form-field>
  <mat-label>Filter by Region</mat-label>
  <mat-select (selectionChange)="applyFilters()" [(ngModel)]="filterRequest.regionId">
    <mat-option value="">All</mat-option>
    <mat-option *ngFor="let region of availableRegions" [value]="region.regionId">
      {{ region.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>From Year</mat-label>
  <input [(ngModel)]="filterRequest.from" matInput max="2018" min="1960" placeholder="From year" type="number">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>To Year</mat-label>
  <input [(ngModel)]="filterRequest.to" matInput max="2018" min="1960" placeholder="To year" type="number">
</mat-form-field>

<button (click)="applyFilters()" mat-stroked-button>Apply Filters</button>
<button (click)="resetFilters()" mat-stroked-button>Reset Filters</button>

<div class="app-container mat-elevation-z8">
  <div *ngIf="isLoadingResults"
       class="app-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="app-table-container">

    <table [dataSource]="countryInfo" class="app-table" mat-table
           matSort matSortActive="id.year" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="continentName">
        <th *matHeaderCellDef mat-header-cell>Continent</th>
        <td *matCellDef="let row" mat-cell>{{row.continentName}}</td>
      </ng-container>

      <ng-container matColumnDef="regionName">
        <th *matHeaderCellDef mat-header-cell>Region</th>
        <td *matCellDef="let row" mat-cell>{{row.regionName}}</td>
      </ng-container>

      <ng-container matColumnDef="countryName">
        <th *matHeaderCellDef mat-header-cell>Country</th>
        <td *matCellDef="let row" mat-cell>{{row.countryName}}</td>
      </ng-container>

      <ng-container matColumnDef="id.year">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>
          Year
        </th>
        <td *matCellDef="let row" mat-cell>{{row.year}}</td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th *matHeaderCellDef mat-header-cell>Population</th>
        <td *matCellDef="let row" mat-cell>{{row.population}}</td>
      </ng-container>

      <ng-container matColumnDef="gdp">
        <th *matHeaderCellDef mat-header-cell>Gdp</th>
        <td *matCellDef="let row" mat-cell>{{row.gdp}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]=20 [showFirstLastButtons]=true
                 aria-label="Select page of GitHub search results"></mat-paginator>
</div>
